<!DOCTYPE html>

{% load staticfiles %}

<html>
<head><title>One Day Working Space</title>

<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
 

  </head>
<body>
	<div class="navbar-fixed">
	<nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo center">Day Pass in Coworking Space </a>
  </div>
</nav>
</div>

<!-- slider -->
<div class="slider">
    <ul class="slides">
    	{% for i in workspace %}
      <li>
        <img src="https://hd.unsplash.com/photo-1469719847081-4757697d117a"> <!-- random image -->
        <div class="caption center-align">
          <h3>{{i.name}}</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

<!-- slider close -->

	<div class="row">
	{% for i in workspace %}
        <div class="col s3 m6">
        	
          <div class="card">
            <div class="card-image">
              <img src="{{i.photo}}" class="responsive-img">
              <span class="card-title">{{i.name}}, {{i.city}}</span>
            </div>
            <div class="card-content">
              <p>{{i.about}}</p>
            </div>
            <div class="card-content">
              <p>Address : {{i.address}}, {{i.city}}</p>
            </div>

            <div class="card-action">
              <p> 	&nbsp; Type : {{i.category}}	&nbsp;| 	&nbsp; Price : Rs.{{i.price}}/-	&nbsp;| 	&nbsp;Validity : {{i.validity}} | 	&nbsp;	&nbsp; <a class="waves-effect waves-light btn" href="#">Book Now</a> <span class="new badge red">Rate: {{i.rate}}</span> </p>
            </div>
            <div class="progress">
      <div class="indeterminate"></div>
  </div>
        
          </div>
       
        </div>
           {% endfor %}
      </div>

      
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</html>